@font-face{
	font-family: 'UbuntuCerebri';
	src: url('webfontkit/ubuntucerebri-regular.eot');
	src: url('webfontkit/ubuntucerebri-regular.eot?#iefix') format('embedded-opentype'),
	     url('webfontkit/ubuntucerebri-regular.woff') format('woff'),
	     url('webfontkit/ubuntucerebri-regular.ttf') format('truetype'),
	     url('webfontkit/ubuntucerebri-regular.svg#webfont') format('svg');
}
@font-face{
	font-family: 'UbuntuCerebriHat';
	src: url('webfontkit/ubuntucerebrihat-regular.eot');
	src: url('webfontkit/ubuntucerebrihat-regular.eot?#iefix') format('embedded-opentype'),
	     url('webfontkit/ubuntucerebrihat-regular.woff') format('woff'),
	     url('webfontkit/ubuntucerebrihat-regular.ttf') format('truetype'),
	     url('webfontkit/ubuntucerebrihat-regular.svg#webfont') format('svg');
}
@font-face{
	font-family: 'UbuntuCerebriHighlight';
	src: url('webfontkit/ubuntucerebrihighlight-regular.eot');
	src: url('webfontkit/ubuntucerebrihighlight-regular.eot?#iefix') format('embedded-opentype'),
	     url('webfontkit/ubuntucerebrihighlight-regular.woff') format('woff'),
	     url('webfontkit/ubuntucerebrihighlight-regular.ttf') format('truetype'),
	     url('webfontkit/ubuntucerebrihighlight-regular.svg#webfont') format('svg');
}
@font-face{
	font-family: 'UbuntuCerebriStar';
	src: url('webfontkit/ubuntucerebristar-regular.eot');
	src: url('webfontkit/ubuntucerebristar-regular.eot?#iefix') format('embedded-opentype'),
	     url('webfontkit/ubuntucerebristar-regular.woff') format('woff'),
	     url('webfontkit/ubuntucerebristar-regular.ttf') format('truetype'),
	     url('webfontkit/ubuntucerebristar-regular.svg#webfont') format('svg');
}
@font-face{
	font-family: 'UbuntuCerebriSymLo';
	src: url('webfontkit/ubuntucerebrisymlo-regular.eot');
	src: url('webfontkit/ubuntucerebrisymlo-regular.eot?#iefix') format('embedded-opentype'),
	     url('webfontkit/ubuntucerebrisymlo-regular.woff') format('woff'),
	     url('webfontkit/ubuntucerebrisymlo-regular.ttf') format('truetype'),
	     url('webfontkit/ubuntucerebrisymlo-regular.svg#webfont') format('svg');
}
@font-face{
	font-family: 'UbuntuCerebriSymMi';
	src: url('webfontkit/ubuntucerebrisymmi-regular.eot');
	src: url('webfontkit/ubuntucerebrisymmi-regular.eot?#iefix') format('embedded-opentype'),
	     url('webfontkit/ubuntucerebrisymmi-regular.woff') format('woff'),
	     url('webfontkit/ubuntucerebrisymmi-regular.ttf') format('truetype'),
	     url('webfontkit/ubuntucerebrisymmi-regular.svg#webfont') format('svg');
}
@font-face{
	font-family: 'UbuntuCerebriSymUp';
	src: url('webfontkit/ubuntucerebrisymup-regular.eot');
	src: url('webfontkit/ubuntucerebrisymup-regular.eot?#iefix') format('embedded-opentype'),
	     url('webfontkit/ubuntucerebrisymup-regular.woff') format('woff'),
	     url('webfontkit/ubuntucerebrisymup-regular.ttf') format('truetype'),
	     url('webfontkit/ubuntucerebrisymup-regular.svg#webfont') format('svg');
}
			/*font-family:'UbuntuCerebri',Ubuntu,sans-serif;*/
			/*font-family:'Economica','UbuntuCerebri',Ubuntu,sans-serif;*/
			/*font-family:'Ubuntu Mono',Courier,'Andale Mono',monospace;*/


	/*WRAPPERS*/
		*{
			/*position*/
			/*box*/
			padding:0;
			margin:0;
			/*text*/
		}
		body{
			/*position*/
			/*box*/
			/*text*/
		}
		.wrapper{
			/*position*/
			/*box*/
			margin:10px;
			/*text*/
			font-size:13px;
			line-height:18px;
			font-family:'UbuntuCerebri',Ubuntu,sans-serif;
		}


	/*BOXSTRUCTURE*/
		.boxstructure_wrapper{
			overflow:auto;
		}
		.boxstructure{
			/*position*/
			overflow:auto;
			float:left;
			/*box*/
			margin-bottom:3px;
			/*text*/
		}
		.bar{
			/*position*/
			position:relative;
			float:left;
			/*box*/
			background-color:#222;
			width:4px;
			margin:0 6px 0 0;
			/*text*/
			color:white;
			text-align:center;
		}
		.boxes{
			/*position*/
			position:relative;
			float:left;
			/*box*/
			/*text*/
		}
		.boxcolumn{
			/*position*/
			position:relative;
			float:left;
			/*box*/
			margin:0 12px 0 0;
			/*text*/
		}

	/*BOXCONTENT*/
	/*box-chunk-subchunk(title,codeinput,codeoutput,line)*/
	/*box*/
		.boxcontent,
		.box{
			/*position*/
			/*box*/
			margin-bottom:6px;
			border:3px solid #ccc;
			-webkit-border-radius: 6px;
			-moz-border-radius: 6px;
			border-radius: 6px;
			padding:3px 6px;
			/*text*/
			font-family:'UbuntuCerebri',Ubuntu,sans-serif;
			cursor:pointer; cursor:hand;
		}
		/*.boxcontent{ display:none; }*/
		.boxcontent{ width:600px; }
		.box{ width:180px; }
		td{ vertical-align:top; }
	/*chunk,subchunk*/
		.chunk{
			margin-top:9px;
			border-top:1px solid #bbb;
		}
		.subchunk{
			margin:15px 0;
		}
		.subchunk:first-child{
			margin-top:9px;
		}
		.subchunk:last-child{
			margin-bottom:6px;
		}
	/*title*/
		.boxesheader{
			/*position*/
			/*box*/
			/*text*/
			font-family:'Economica','UbuntuCerebri',Ubuntu,sans-serif;
			font-size:30px;
			line-height:30px;
		}
		.boxtitle{
			/*position*/
			/*box*/
			margin:6px 0 9px 0;
			/*text*/
			font-size:24px;
			font-family:'Economica','UbuntuCerebri',Ubuntu,sans-serif;
		}
		.subchunktitle{
			/*position*/
			/*box*/
			margin:6px 0;
			/*text*/
			font-size:18px;
			font-family:'Economica','UbuntuCerebri',Ubuntu,sans-serif;
			font-style:italic;
		}
	/*codeinput,codeoutput*/
		div.codeinput,
		div.codeoutput{
			/*position*/
			/*box*/
			margin:3px;
			padding-left:6px;
			overflow-x:auto;
			white-space:nowrap;
			background-color:#eee;
			/*text*/
			font-family:'Ubuntu Mono',Courier,'Andale Mono',monospace;
			color:#555;
		}
		div.codeinput::-webkit-scrollbar,
		div.codeoutput::-webkit-scrollbar{
			-webkit-appearance: none;
			width: 7px;
		}
		div.codeinput::-webkit-scrollbar-track,
		div.codeoutput::-webkit-scrollbar-track{
			background-color:#eee
		}
		div.codeinput::-webkit-scrollbar-thumb,
		div.codeoutput::-webkit-scrollbar-thumb{
			background-color:#ddd;
			border-radius: 4px;
			border: 3px solid transparent;
			background-clip: content-box;
		}
		div.codeinput.aside{
			background-color:#ddd;
		}
		div.codeinput.aside::-webkit-scrollbar-track{
			background-color:#ddd
		}
		div.codeinput.aside::-webkit-scrollbar-thumb{
			background-color:#ccc;
		}
		div.codeoutput{
			background-color:#dee;
			color:#888;
		}
		div.codeoutput::-webkit-scrollbar-track{
			background-color:#dee
		}
		div.codeoutput::-webkit-scrollbar-thumb{
			background-color:#cdd;
		}
	/*line*/
		/*text: default for non-".text5"*/
		.show{
			color:black;
		}
		.small .show{
			color:#fff;
		}
		/*line*/
		.line{
			/*position*/
			position:relative;
			/*box*/
			height:18px;
			/*text*/
			white-space:nowrap; /*no wrap*/
		}
		.line.thin{
			height:13px;
		}
		.line.halfthin{
			height:15px;
		}
		.line.thick{
			height:21px;
		}
		.line .text5{
			/*position*/
			z-index:5;
			position:absolute;
			left:0;
			top:0;
			/*box*/
			/*text*/
		}
		.line .superscript4{
			/*position*/
			z-index:4;
			position:absolute;
			left:0;
			top:0;
			/*box*/
			/*text*/
		}
		.line .superscript4,
		.line .superscript4 :not(.show){
			color:rgba(255,255,255,0);
		}
		.line .overline3{
			/*position*/
			z-index:3;
			position:absolute;
			left:0;
			top:0;
			/*box*/
			/*text*/
		}
		.line .overline3,
		.line .overline3 :not(.show){
			color:rgba(255,255,255,0);
		}
		.line .underline2{
			/*position*/
			z-index:2;
			position:absolute;
			left:0;
			top:0;
			/*box*/
			/*text*/
		}
		.line .underline2,
		.line .underline2 :not(.show){
			color:rgba(255,255,255,0);
		}
		.line .highlight1{
			/*position*/
			z-index:1;
			position:absolute;
			left:0;
			top:0;
			/*box*/
			/*text*/
		}
		.line .highlight1,
		.line .highlight1 :not(.show){
			color:rgba(255,255,255,0);
		}


	/*COLORS*/
		.box-none{
			/*position*/
			/*box*/
			border-color:rgba(255,255,255,0); /*clear*/
			border-top:none;
			border-bottom:none;
			padding-top:0;
			padding-bottom:3px;
			/*text*/
		}
	/*jour,note*/
		.box-jour,
		.box-note{
			border-color:#bbb; /*gray*/
		}
		.box-jour.small,
		.box-note.small{
			background-color:#bbb; /*gray*/
			color:#fff;
		}
	/*axio*/
		.box-axio{
			border-color:#43b; /*purple*/
		}
		.box-axio.small{
			background-color:#43b; /*purple*/
			color:#fff;
		}
	/*defi*/
		.box-defi{
			border-color:#39e; /*blue*/
		}
		.box-defi.small{
			background-color:#39e; /*blue*/
			color:#fff;
		}
		.defi{
			color:#39e; /*blue*/
		}
		.defi.highlighter{
			color:#3cf; /*(lighter) blue*/
		}
	/*algo*/
		.box-algo{
			border-color:#6cd; /*sea blue*/
		}
		.box-algo.small{
			background-color:#6cd; /*sea blue*/
			color:#fff;
		}
		.box-algo .chunk{
			border-top:1px solid #6cd;
		}
	/*code,tool*/
		.box-visu,
		.box-tool,
		.box-meth, /*method: detailed instructions for doing stuff, just not code*/
		.box-code{
			border-color:#9de; /*light sea blue*/
		}
		.box-visu.small,
		.box-tool.small,
		.box-meth.small,
		.box-code.small{
			background-color:#9de; /*light sea blue*/
			color:#fff;
		}
		.box-code .chunk{
			border-top:1px solid #9de;
		}
	/*prop*/
		.box-prop{
			border-color:#9d5; /*green*/
		}
		.box-prop.small{
			background-color:#9d5; /*green*/
			color:#fff;
		}
		.prop{
			color:#9d5; /*green*/
		}
	/*exam*/
		.box-exam,
		.box-game{
			border-color:#fd3; /*yellow*/
		}
		.box-exam.small,
		.box-game.small{
			background-color:#fd3; /*yellow*/
			color:#fff;
		}
		.box-exam .chunk{
			border-top:1px solid #ed3;
		}
	/*other*/
		.spec{ /*for special cases*/
			border-color:#fd3; /*yellow*/
		}
		.recall{ /*for stuff that are reminders/refreshers*/
		}
	/*other: text*/
		/**/
		a{
			color:#444;
		}
		.pre{
			white-space:pre;
		}
		/*code*/
		input{
			font-size:13px;
			font-family:'Ubuntu Mono',Courier,'Andale Mono',monospace;
			color:#c36; /*brick red*/
		}
		.usermade{
			color:#c36; /*brick red*/
		}
		.box-code.small .usermade{
			color:#fee;
		}
		.box-defi.small .usermade{
			color:#edd;
		}
		.extracode{
			color:#c99;
		}
		.temp{
			/*color:#f85;*/ /*coral red*/
			color:#aaa;
		}
		.comment{
			color:#888; /*dark gray*/
			font-size:12px;
			font-family:'Ubuntu Mono',Courier,'Andale Mono',monospace;
		}
		.comment a{
			color:#888; /*dark gray*/
		}
		.small .comment{
			color:#ddd; /*pale gray*/
		}

		/**/
		.fullunderscore{
			font-family:'Ubuntu Mono',Courier,'Andale Mono',monospace;
		}

		/*explanations*/
		.note,
		.additionalremark,
		.times,
		.insignificant{
			color:#999; /*middle gray*/
		}
		.invisible{
			color:#ccc; /*light gray*/
		}
		.inenglish{ /*highlighters*/
			color:#ddd; /*pale gray*/
		}
		.spacer{
			color:rgba(255,255,255,0);
		}
		
		/**/
		.highlighter{
			font-family:'UbuntuCerebriHighlight','UbuntuCerebri',Ubuntu,sans-serif;
		}
		/**/
		.sub{
			font-size:9px;
			vertical-align:baseline;
			position:relative;
			top:0.25em;
		}
		.sub .sub{
			font-size:6.75px;
			vertical-align:baseline;
			position:relative;
			top:0.25em;
		}
		.super{
			font-size:9px;
			vertical-align:baseline;
			position:relative;
			top:-0.55em;
		}
		/**/
		.linelosub{
			vertical-align:baseline;
			position:relative;
			top:0.25em;
		}
		.linelo{
			vertical-align:baseline;
			position:relative;
			top:0.05em;
		}
		.linemi{
			vertical-align:baseline;
			position:relative;
			top:-0.95em;
		}
		.lineup{
			font-family:'UbuntuCerebriSymUp','UbuntuCerebri',Ubuntu,sans-serif;
		}
		/**/
		.symup{
			font-family:'UbuntuCerebriSymUp','UbuntuCerebri',Ubuntu,sans-serif;
		}
		.symmi{
			font-family:'UbuntuCerebriSymMi','UbuntuCerebri',Ubuntu,sans-serif;
		}
		.symlo{
			font-family:'UbuntuCerebriSymLo','UbuntuCerebri',Ubuntu,sans-serif;
		}
		/**/
		.blackboard{
			font-family:'UbuntuCerebriBlackboard','UbuntuCerebri',Ubuntu,sans-serif;
		}
		.esti{
			font-family:'UbuntuCerebriHat','UbuntuCerebri',Ubuntu,sans-serif;
		}
		.opti{
			font-family:'UbuntuCerebriStar','UbuntuCerebriHat','UbuntuCerebri',Ubuntu,sans-serif;
		}


	/* experimenting!!!!!!! */
	/* experimenting!!!!!!! */
	/* experimenting!!!!!!! */
	/* experimenting!!!!!!! */
	/* experimenting!!!!!!! */
	/* experimenting!!!!!!! */
		/*others*/
		.class,
		.focus{
			color:#f40; /*red*/
		}
		.relation{
			color:#a5f; /*purple*/
		}
		.box-exam.small .class,
		.box-exam.small .focus{
			color:#f97; /*softer red*/
		}
		/*for true negative, false positive, etc.*/
		.posi{
			color:#b00;
		}
		.nega{
			color:#aaa;
		}
		/*text colors: titles*/
		.title{
			background-color:gray;
			color:#fff
		}
		.defi.title{
			background-color:#7cf; /*blue*/
		}
		.prop.title{
			background-color:#8f7; /*green*/
		}
		.exam.title{
			background-color:#fe7; /*yellow*/
		}
		.tool.title,
		.jour.title{
			background-color:#fa9; /*pink #ffc0cb*/
		}
		.algo.title{
			background-color:#f88; /*darker pink*/
		}
		.note.title{
			background-color:#aaa; /*lighter-than-middle gray*/
		}
	/* experimenting!!!!!!! */
	/* experimenting!!!!!!! */
	/* experimenting!!!!!!! */
	/* experimenting!!!!!!! */
	/* experimenting!!!!!!! */
	/* experimenting!!!!!!! */
